[submodule "nostd-rs"]
	path = nostd-rs
	url = https://github.com/pdx-cs-rust-embedded/nostd-rs
[submodule "an-inordinate-display"]
	path = an-inordinate-display
	url = https://github.com/BartMassey/an-inordinate-display
[submodule "bare-beyond-blinky"]
	path = bare-beyond-blinky
	url = https://github.com/BartMassey/bare-beyond-blinky
[submodule "discovery-mb2"]
	path = discovery-mb2
	url = https://github.com/rust-embedded/discovery-mb2
